.input
    border: none
    height: 100%
    color: #00EA5D
    width: 100%
    background-color: transparent
    padding: 0 1em
    font-size: 1.3em
    font-family: gothampro_bold
    outline: none
    &::-webkit-input-placeholder  
        color: #00EA5D 
    &:-moz-placeholder  
        color: #00EA5D 
        opacity:  1
    &::-moz-placeholder  
        color: #00EA5D 
        opacity:  1
    &:-ms-input-placeholder  
        color: #00EA5D 
    &::-ms-input-placeholder  
        color: #00EA5D 
    &::placeholder  
        color: #00EA5D 
.fullFilledStyle
    background-color: #EFF4FA
    border: none
    outline: none
    padding: 1em
    border-radius: 6px
    font-size: 1em
    font-family: gothampro
    &::-webkit-input-placeholder  
        color:    #C4C4C4
    &:-moz-placeholder  
        color:    #C4C4C4
        opacity:  1
    &::-moz-placeholder  
        color:    #C4C4C4
        opacity:  1
    &:-ms-input-placeholder  
        color:    #C4C4C4
    &::-ms-input-placeholder  
        color:    #C4C4C4
    &::placeholder  
        color:    #C4C4C4
@media screen and ( max-width: 1280px)
    .fullFilledStyle
        padding: 0.5em
        font-family: gothampro_medium
        font-size: 0.9em
    

    