.cont
    display: flex
    width: 100%
    padding: 0 2em
    .imgCont
        display: flex
        height: 600px
        overflow: hidden
        align-items: center
        justify-content: center
        padding: 0 4em
        .img
            object-fit: contain
            width: 366px
            height: 794px
    .infoCont
        display: flex
        flex-direction: column
        width: 100%
        .title
            padding: 2em 8em 0 0
            color: #42445A
            font-size: 2em
            line-height: 45px
            font-family: gothampro_bold
            margin-bottom: 1.8em
        .stepsCont
            display: flex
            width: 100%
            margin-bottom: 1em
            .stepsColumn
                display: flex
                flex-direction: column
                height: 100%
                width: 100%
                .columnItem
                    display: flex
                    width: 100%
                    height: 100%
                    align-items: center
                    .icon
                        object-fit: contain
                        width: 40px
                        height: 40px
                        display: flex
                        align-items: center
                        justify-content: center
                    .text
                        display: flex
                        line-height: 22.5px
                        font-size: 0.9em
                        padding: 1em 4em 1em 1em 
                        color: #42445A
                        font-family: gothampro_bold
        .sources
            display: flex
            width: 100%
            align-items: center
            margin-bottom: 1em
            .source
                object-fit: contain
                &:nth-child(1)
                    margin-right: 3em
@media screen and ( max-width: 500px )
    .cont
        .imgCont
            display: none
            height: 300px
            .img
                width: 300px
                height: 700px
        .infoCont
            .title
                padding: 0
                margin: 0
                font-size: 0.8em
            .stepsCont
                flex-direction: column
                font-size: 0.7em
            .sources
                justify-content: center
                .source
                    width: 100px
@media screen and ( min-width: 501px ) and (max-width: 1280px )
    .cont
        .imgCont
            height: 400px
            .img
                width: 200px
                height: 450px
        .infoCont
            .title
                padding: 0
                margin: 0
                font-size: 0.8em
            .stepsCont
                flex-direction: column
                font-size: 0.7em
    