.element
    display: flex
    align-items: center
    justify-content: center
    color: #fff
    font-family: gothampro_bold
    width: max-content
    padding: 0.8em 1.5em
    cursor: pointer
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25)
    border-radius: 6px
    transition: ease-out
    transition-duration: 0.3s
    text-align: center
    background-color: #00EA5D 
    &:hover
        color: #00EA5D
        background-color: #fff
        transform: scale(1.02)
    &:active
        transform: translateY(5px)
    .iconCont
        object-fit: contain
        // width: 40px
        // height: 40px
        position: relative
        top: 2px
        margin-right: 1em
@media screen and ( max-width: 1280px )
    .element
        font-size: 0.7em
    