.content
    background-color: #E5E5E5
    display: flex
    flex-direction: column
    .mainCarouselCont
        display: flex
        padding-top: 3em
        width: 100%
        background-color: #F6F6F6
    .sliderCont
        // display: flex
        flex-direction: column
        margin-bottom: 1em
    .discountCont
        display: flex
        width: 100%
        background-color: #fff
        position: relative
        z-index: 1
    .advertisementCont
        position: relative
        width: 100%
        display: flex
        padding: 1.5em
@media screen and ( max-width: 1280px )
    .content
        .sliderCont
            margin-bottom: 0
    