.background
    position: absolute
    left: 0
    bottom: 0
    display: flex
    width: 100%
    justify-content: space-between
    align-items: flex-end
    .image
        height: max-content
        object-fit: contain
@media screen and ( max-width: 500px )
    .background
        .image
            width: 150px
@media screen and ( min-width: 501px ) and ( max-width: 1280px )
    .background
        .image
            width: 300px