.cont
    display: flex
    flex-direction: column
    width: 100%
    padding: 2em
    padding-top: 6em
    position: relative
    background-color: #E5E5E5
    .content
        display: flex
        position: relative
        background-color: #fff
        flex-direction: column
        padding: 2em 2em 2em 4em
        width: 100%
        .title
            display: flex
            color: #42445A
            font-family: gothampro_bold
            font-size: 1.8em
        .columnCont
            display: flex
            width: 100%
            .column
                display: flex
                width: 100%
                flex-direction: column
                font-size: 0.5em
                .text
                    display: flex
                    font-family: gothampro
                    color: #42445A
                    font-size: 1.7em
                    line-height: 18px
                    margin: 1em 0
                .minText
                    width: min-content
            .image
                display: flex
                align-self: flex-end
                object-fit: contain
                width: 350px
                height: 350px
            .mapCont
                display: flex
                width: 100%
                height: 300px
                border-radius: 20px
                margin-top: 1em
                border: 1px solid #00EA5D
                overflow: hidden
@media screen and ( max-width: 500px )
    .cont
        padding: 6em 1em 1em 1em
        .content
            padding: 1.5em
            .title
                font-size: 1em
            .columnCont
                flex-direction: column
                .image
                    display: none
                .mapCont
                    height: 200px
@media screen and ( min-width: 501px ) and ( max-width: 1280px )
    .cont
        padding: 6em 1em 1em 1em
        .content
            padding: 1.5em
            .title
                font-size: 1em
            .columnCont
                // flex-direction: column
                .column
                    &:nth-child(1)
                        margin-right: 2em
                    .text
                        font-size: 1.4em
                    .miniText
                        font-size: 0.8em
                .image
                    // display: none
                    width: 250px
                    height: 250px
                .mapCont
                    height: 200px
    