.cont
    display: flex
    align-items: center
    justify-content: center
    border-radius: 100px
    width: 50px
    height: 50px
    background-color: #00000060
    cursor: pointer
    transition: ease-in
    transition-duration: 0.3s
    &:hover
        background-color: #00000095
.right
    transform: rotateZ(180deg)
@media screen and ( max-width: 1280px )
    .cont
        width: 30px
        height: 30px
        .arrow
            object-fit: contain
            width: 15px
            height: 15px
    