.sliderTitle
    color: #00EA5D
    position: relative
    z-index: 2
    font-family: gothampro_black
    font-size: 3em
@media screen and ( max-width: 500px )
    .sliderTitle
        font-size: 1.7em
@media screen and (min-width: 501px) and ( max-width: 1280px )
    .sliderTitle
        font-size: 2em
