.cont
    display: flex
    width: 100%
    position: relative
    padding: 2em
    padding-top: 6em
    background-color: #E5E5E5
    transition: ease
    transition-duration: 0.3s
    .content
        display: flex
        width: 100%
        flex-direction: column
        background-color: #fff
        border-radius: 9px
        position: relative
        padding: 2em
        transition: ease
        transition-duration: 0.3s
        .mapCont
            display: flex
            width: 100%
            flex-direction: column
            padding: 2em
            transition: ease
            transition-duration: 0.3s
            .cardItem
                display: flex
                padding: 0 2em 
                margin-bottom: 1em
                width: 100%
                transition: ease
                transition-duration: 0.3s
                .imgCont
                    padding: 1em
                    display: flex
                    flex-direction: column
                    background-color: #EEF3F9
                    align-items: center
                    justify-content: center
                    border-radius: 13px
                    .infoCont
                        display: flex
                        margin-bottom: 1em
                        .discount
                            background-color: #FF8D44
                            border-radius: 6px
                            padding: 0.2em
                            text-transform: capitalize
                            font-family: gothampro_medium
                            color: #fff
                            &:nth-child(2)
                                background-color: #70ADEE
                                margin-left: 1em
                    .image
                        object-fit: contain
                        width: 250px
                        height: 200px
                    .date
                        display: flex
                        align-self: flex-start
                        color: #42445A
                        font-family: gothampro_bold
                .priceDeleteCont
                    display: flex
                    width: 100%
                    .priceCont
                        display: flex
                        flex-direction: column
                        padding: 1em 2em
                        .title
                            display: flex
                            color: #000000
                            margin-bottom: 0.5em
                            font-size: 1.5em
                            font-family: gothampro_bold
                        .price
                            display: flex
                            color: #00EA5D
                            align-items: center
                            font-family: gothampro_bold
                            font-size: 1.8em
                            margin-bottom: 0.5em
                    .iconCont
                        display: flex
                        width: 100%
                        justify-content: flex-end
                        padding: 2em
                        .img
                            object-fit: contain
                            width: 50px
                            height: 50px
                            transition: ease
                            transition-duration: 0.3s
                            cursor: pointer
                            &:hover
                                transform: rotateZ(180deg)
                            &:active
                                transform: scale(0.8)
@media screen and ( max-width: 500px )
    .cont
        padding: 6em 1em 1em 1em
        font-size: 0.6em
        .content
            padding: 1.5em
            .mapCont
                margin-top: 1em
                padding: 0
                .cardItem
                    padding: 0
                    flex-direction: column
                    .imgCont
                        .image
                            width: 200px
                            height: 200px
                    .priceDeleteCont
                        align-items: center
                        .priceCont
                            font-size: 0.8em
                        .iconCont
                            .img
                                width: 25px
                                height: 25px

    