.cont
    display: flex
    justify-content: center
    align-items: center
    .dot
        display: flex
        border-radius: 50px
        width: 15px
        height: 15px
        margin: 0 0.5em
        background-color: #C4C4C4
    .active
        background-color: #00EA5D
@media screen and ( max-width: 1280px )
    .cont
        .dot
            width: 8px
            height: 8px
            margin: 0 0.2em