.packCont
    background-color: #fff
    border-radius: 301px
    display: flex
    align-items: center
    justify-content: center
    position: relative
    transition: ease-in
    transition-duration: 0.3s
    cursor: pointer
    padding: 0.8em
    &:hover
        background-color: #e4e0e0
    .pack
        object-fit: contain
        width: 35px
        height: 35px
.discount
    width: 40px
    height: 40px
    background-color: #EEF3F9
    .discountIcon
        width: 20px
        height: 20px
@media screen and ( max-width: 1280px)
    .packCont
        .pack
            width: 15px
            height: 15px
    