.cont
    display: flex
    width: 100%
    position: relative
    padding-top: 5em
    padding-bottom: 2em
    align-items: center
    justify-content: center
    color: #00EA5D
    perspective: 800px
    min-height: 600px
    overflow: hidden
    // background-color: #505050
    .background
        display: flex
        width: 100%
        height: 100%
        position: absolute
        left: 0
        top: 0
        justify-content: space-between
        .backgroundItem
            display: flex
            flex-direction: column
            padding: 4em 0
            .bgImageSmall
                object-fit: contain
                width: 100px
            .bgImage
                display: flex
                align-self: flex-end
    .spinner
        position: absolute
        z-index: 222
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
    .carouselCont
        display: flex
        flex-direction: column
        width: 100%
        position: relative
        z-index: 1
        overflow: hidden
        transition: ease-out
        transition-duration: 1s
        margin-top: 3em
        .carouselSecondCont
            display: flex
            width: 100%
            .carousel
                display: flex
                width: 100%
                padding: 0 15em
                margin-bottom: 1em
                .text
                    display: flex
                    // width: 100%
                    flex-direction: column
                    margin-right: 4em
                    .italic
                        text-align: start
                        inline-size: 300px
                        overflow-wrap: break-word
                        font-family: gothampro_italic
                        color: #835E48
                        margin-bottom: 1em
                    .bold
                        width: min-content
                        font-family: gothampro_black
                        font-size: 3em
                        margin-bottom: 1em
                        color: #00EA5D
                .image
                    object-fit: contain
                    width: 443px
                    height: 500px
                    animation: imageAnime 2s
                    // animation-iteration-count: infinite
@media screen and ( min-width: 501px ) and ( max-width: 1280px )
    .cont
        padding: 1em
        min-height: max-content
        .background
            .backgroundItem
                padding: 0
                .bgImage
                    object-fit: contain
                    width: 70px
        .carouselCont
            margin: 0
            position: relative
            z-index: 2
            .carouselSecondCont
                .carousel
                    align-items: center
                    padding: 0 5em
                    width: 100%
                    // flex-direction: column-reverse
                    margin-bottom: 1em
                    .text
                        align-items: center
                        .italic
                            font-size: 0.8em
                        .bold
                            font-size: 0.9em
                            width: max-content
                    .image
                        width: 200px
                        height: 200px
@media screen and ( max-width: 500px )
    .cont
        padding: 1em
        min-height: max-content
        .background
            .backgroundItem
                padding: 0
                .bgImage
                    object-fit: contain
                    width: 70px
        .carouselCont
            margin: 0
            position: relative
            z-index: 2
            .carouselSecondCont
                .carousel
                    align-items: center
                    padding: 0 1em
                    width: 100%
                    // flex-direction: column-reverse
                    margin-bottom: 1em
                    .text
                        inline-size: 110px
                        overflow-wrap: break-word
                        align-items: center
                        .italic
                            inline-size: 110px
                            overflow-wrap: break-word
                            font-size: 0.8em
                        .bold
                            inline-size: 110px
                            overflow-wrap: break-word
                            font-size: 0.9em
                            // width: max-content
                    .image
                        width: 110px
                        height: 110px
.activeClass
    animation: imageAnime 1s
.activeClassText
    position: relative
    opacity: 1
    right: 0
    animation: textAnime
    animation-duration: 1s 
// .activeClassReverse
//     animation: imageAnimeSecond 1s all infinite 
//     animation-delay: 1s
// .activeClassTextReverse
//     animation: textAnime
//     animation-direction: reverse
//     animation-duration: 1s 
@keyframes imageAnime
    0%
        // opacity: 0
        transform: translateX(400px) rotateZ(0)
    33%
        transform: translateX(0px) rotateZ(-15deg)
    33%
        transform: translateX(-50px) rotateZ(-20deg)
    100%
        // opacity: 1
        transform: translateX(0px) rotateZ(0deg)
@keyframes imageAnimeSecond
    0%
        opacity: 0
        // transform: translate3d(42px, -62px, -135px)
        transform: rotateY(0deg) translateX(0px)
    100%
        transform: rotateY(-90deg) translateX(100px)
        opacity: 1
@keyframes textAnime
    0%
        opacity: 0
        // transform: rotateY(-90deg) translateX(200px)
    100%
        opacity: 1
        // transform: rotateY(0deg) translateX(0px)

$elements: 15
@for $i from 0 to $elements 
    .span:nth-child(#{$i + 1}) 
        background: rgb($i, $i, $i)
        font-size: $i+em
        
// $sizes: 40px, 50px, 80px
// $base-color: #036

// @for $i from 1 through 25 
//   .span:nth-child(3n + #{$i})
//         font-size: ($i)px 
//     // background-color: lighten($base-color, $i * 5%)
     
