.cont
    display: flex
    position: relative
    align-items: center
    justify-content: center
    .spinner
        position: absolute
        display: flex
        align-items: center
        justify-content: center
        align-self: center
    .hide
        opacity: 0