.cont
    display: flex
    width: 100%
    background-color: #fff
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)
    border-radius: 15px
    position: relative
    transition: ease-in
    transition-duration: 0.3s
    cursor: pointer
    z-index: 0
    .innerCont
        display: flex
        width: 100%
        padding: 1.2em 0.8em
        position: static
        border-radius: 15px
        &:hover
            display: flex
            width: 100%
            position: absolute
            align-items: center
            justify-content: space-between
            padding: 1em
            z-index: 2
            top: 0
            left: 0
            background-color: #EEF3F9
            animation: hoverName 0.6s 
            transition: ease-in
            transition-duration: 0.3s
            flex-direction: column-reverse
        &:hover > .head > .title
            margin-bottom: 1em
            margin-top: 1em
            font-size: 1.2em
            font-family: gothampro_bold
            transition: ease-in
            transition-duration: 0.3s
            transition-delay: 0.2s
        &:hover > .head > .content > .dash
            display: none
        &:hover > .head > .content > .discount
            display: none
        &:hover > .head > .content > .priceMainCont
            flex-direction: row-reverse
            align-items: center
            justify-content: center
            justify-content: flex-end
        &:hover > .head > .content > .priceMainCont > .priceCont
            margin-right: 1em
        &:hover > .imgCont 
            padding-top: 3em
            transition: ease-in
            transition-duration: 0.3s
        &:hover > .imgCont > .image
            transition: ease-in
            transition-duration: 0.3s
            transition-delay: 0.2s
            width: 200px
            height: 200px
        .head
            display: flex
            flex-direction: column
            justify-content: space-between
            width: 100%
            .title
                display: flex
                width: 100%
                font-family: gothampro
                margin-bottom: 0.5em
            .content
                display: flex
                justify-content: space-between
                flex-direction: column
                height: 100%
                // align-items: flex-end
                // .left
                //     display: flex
                //     flex-direction: column
                //     justify-content: space-between
                .discount
                    display: flex
                    font-family: gothampro_medium
                    padding: 0.1em 0.7em
                    width: max-content
                    font-size: 0.8em
                    align-items: center
                    justify-content: center
                    text-align: center
                    vertical-align: center
                    background-color: #FF8D44
                    color: #fff
                    border-radius: 5px
                .dash
                    align-self: flex-end
                    width: 50%
                    height: 1px
                    background-color: #000
                .priceMainCont
                    display: flex
                    align-items: center
                    justify-content: center
                    flex-direction: column
                    .priceCont
                        display: flex
                        position: relative
                        align-items: center
                        text-align: center
                        width: max-content
                        &:nth-child(1)
                            font-size: 0.9em
                            margin-bottom: 0.3em
                            &::after
                                display: flex
                                position: absolute
                                top: 0
                                left: 0
                                height: 2px
                                width: 100%
                                top: 30%
                                content: ""
                                background-color: #FF0505C2
                        .price
                            display: flex
                            align-items: center
                            justify-content: center
                            font-family: gothampro_bold
                        .currency
                            display: flex
                            margin-left: 0.5em
                            font-family: gothampro
                            color: #C4C4C4
        .imgCont
            display: flex
            position: relative
            align-items: center
            flex-direction: column
            justify-content: center
            width: 100%
            .absoluteDiscount
                display: flex
                font-family: gothampro_medium
                padding: 0.1em 0.7em
                width: max-content
                font-size: 0.8em
                position: absolute
                left: 0
                top: 0
                align-items: center
                justify-content: center
                text-align: center
                vertical-align: center
                background-color: #FF8D44
                color: #fff
                border-radius: 5px
            .image
                object-fit: contain
                width: 130px
                height: 130px
            .packCont
                display: flex
                align-items: center
                justify-content: center
                position: absolute
                bottom: 0
                right: 0
.activeCont
    display: flex
    width: 100%
    height: 100%
@keyframes hoverName
    0%
        opacity: 0
    100%
        opacity: 1
@keyframes reverse
    0%
        transform: translateY(10px)
    100%
        transform: translateY(0)
@media screen and ( max-width: 500px )
    .cont
        font-size: 0.9em
@media screen and ( min-width: 501px ) and (max-width: 1280px)
    .cont
        font-size: 0.7em
    