$mainGreen: #00EA5D    
.cont 
    display: flex
    width: 100%
    align-items: center
    justify-content: space-between
    padding: 1em 3em
    font-family: gothampro_medium
    z-index: 20
    position: fixed
    background-color: #F6F6F6
    .logo
        display: flex
        width: 100%
        align-items: center
        justify-content: center
        .imgLogo
            object-fit: contain
            width: 241px
            // width: 100%
    .navCont
        display: flex
        width: 100%
        color: #fff
        font-size: 1em
        margin: 0 2em
        justify-content: space-between
        background-color: $mainGreen
        border-radius: 360px
        padding: 0 3em
        position: relative
        .navItem
            padding: 0.8em 1em
            cursor: pointer
            transition: ease-in
            transition-duration: 0.3s
            &:hover
                border-radius: 20px
                color: $mainGreen
                background-color: #fff
        .inputCont
            display: flex
            position: absolute
            width: 100%
            height: 100%
            align-items: center
            justify-content: center
            border-radius: 360px
            transition: ease-out
            transition-duration: 0.3s
            top: 0
            left: 0
            color: $mainGreen
            background-color: #ffffff
        .showSearch
            transition: ease-in
            transition-duration: 0.3s
            border: 1px solid $mainGreen
            width: 100%
        .hideSearch
            width: 0
            transition: ease-out
            transition-duration: 0.5s
        .searchCont
            display: flex
            position: absolute
            right: 0px
            // border: 2px solid transparent
            top: 0px
            .buttonCont
                background-color: #fff
    .iconCont
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        div
            padding: 0 0.5em
            .langCont
                display: flex
                align-items: center
                justify-content: center
                width: 27px
                height: 27px
                font-size: 0.4em
                border: 2px solid $mainGreen
                border-radius: 1000px
                div
                    border: 2px solid $mainGreen
                    border-radius: 100px
                    color: $mainGreen
    .hamburgerCont
        display: none
    .searchMiniCont
        display: none
@media screen and ( max-width: 1280px )
    .cont
        padding: 0.3em 0.5em
        display: flex
        justify-content: space-between
        position: fixed
        .logo
            padding-left: 0.7em
            display: flex
            width: max-content
            .imgLogo
                width: 100px
        .navCont
            display: none
        .iconCont
            display: none
        .searchMiniCont
            display: flex
            justify-content: flex-end
            // position: relative
            width: 100%
            .inputCont
                display: flex
                position: absolute
                height: 100%
                align-items: center
                justify-content: center
                transition: ease-out
                transition-duration: 0.3s
                top: 0
                left: 0
                color: $mainGreen
                background-color: #ffffff
            .showSearch
                transition: ease-in
                transition-duration: 0.3s
                width: 100%
            .hideSearch
                width: 0
                transition: ease-out
                transition-duration: 0.5s
    .navContMini
        display: flex
        flex-direction: column
        width: 100vw
        position: relative
        border: none
        outline: none
        font-size: 0.7em
        // left: 100px
        .navItem
            display: flex
            align-items: center
            justify-content: flex-start
            padding: 1em
            font-family: gothampro
            color: $mainGreen
            cursor: pointer
            &:hover
                background-color: $mainGreen
                color: #fff
        .iconCont
            display: flex
            align-items: center
            justify-content: flex-start
            padding: 0 1em
            font-size: 0.7em
            .icons
                .lang
                    display: flex
                    font-size: 0.7em
                    text-align: center
                    color: $mainGreen
                    align-items: center
                    justify-content: center
        