.cont
    display: flex
    align-items: center
    .iconCont
        display: flex
        align-items: center
        justify-content: center
        background-color: #EEF3F9
        border-radius: 30px
        padding: 0.5em
        cursor: pointer
        transition: ease
        transition-duration: 0.3s
        &:hover
            background-color: #e1e5e9
        &:active
            background-color: #cdcfd1
            transform: scale(0.8)
        .img
            object-fit: contain
            width: 20px
            height: 20px
    .content
        display: flex
        background-color: #EEF3F9
        height: 100%
        padding: 0.5em 1em
        width: 100px
        margin: 0 0.2em
        align-items: center
        justify-content: center
        border-radius: 30px
        font-family: gothampro_medium
        line-height: 20px
        .item
            &:nth-child(1)
                margin-right: 0.5em

