.cont
    display: flex
    width: 100%
    position: relative
    overflow: hidden
    align-items: center
    justify-content: center
    padding: 2.4em 2.4em 6em 2.4em
    transition: ease-in
    transition-duration: 0.3s
    .contentCont
        display: flex
        width: 100%
        position: relative
        z-index: 1
        transition: ease-in
        transition-duration: 0.3s
        .catalogCont
            display: flex
            transition: ease-in
            transition-duration: 0.3s
            .hambugerCont
                // display: flex
            .catalogContent
                margin-left: 1em
                display: flex
                transition: ease-in
                transition-duration: 0.3s
                flex-direction: column
                .listCont
                    display: flex
                    flex-direction: column
                    padding: 2em 0
                    position: relative
                    overflow: hidden
                    transition: ease-in
                    transition-duration: 0.3s
                    .listItem
                        display: flex
                        align-items: center
                        margin-top: 0.5em
                        .iconCont
                            display: flex
                            width: 35px
                            height: 35px
                            align-items: center
                            justify-content: center
                            background-color: #EFF4FA
                            border-radius: 6px 
                            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25)
                        .text
                            display: flex
                            padding: 0 1em
                            width: max-content
                            color: #42445A
                            font-family: gothampro
        .content
            display: flex
            flex-direction: column
            padding-left: 3em
            align-items: center
            width: 100%
            .titleCont
                display: flex
                flex-direction: column
                padding-left: 5em
                .title
                    font-family: gothampro_medium
                    font-size: 3em
                .secondaryTitle
                    margin-top: 0.5em
                    font-size: 1.1em
                    font-family: gothampro_medium
                    color: #C4C4C4
                    margin-bottom: 1em
            .discountItems
                display: grid
                width: 100%
                grid-gap: 2em
                grid-template-columns: 1fr 1fr 1fr
                margin-bottom: 3em
                position: relative
                z-index: 1
            .showMoreCont
                width: max-content
                display: flex
                border-radius: 13px
                background-color: #00EA5D
                align-items: center
                flex-direction: column
                justify-content: center
                position: relative
                margin-top: 2em
                .arrowCont
                    // z-index: -1
                    position: relative
                    .arrowDown
                        position: absolute
                        bottom: -22px
                        left: -1.5em
                        padding: 1em
                        border-radius: 20px
                        clip-path: ellipse(50% 25% at 50% 50%)
                        background-color: #00EA5D
.listContShow
    opacity: 1
    transform: translateY(0px)
    height: max-content
.listContHide
    transform: translateY(-100px)
    opacity: 0
    height: 0
    z-index: -2
@media screen and ( max-width: 500px )
    .cont
        padding: 1em
        .contentCont
            flex-direction: column
            .catalogCont
                font-size: 0.7em
            .content
                padding: 1.5em
                .titleCont
                    padding: 0
                    width: 100%
                    align-items: center
                    .title
                        font-size: 1.2em
                    .secondaryTitle
                        font-size: 0.8em
                .discountItems
                    grid-template-columns: 1fr
@media screen and ( min-width: 501px ) and ( max-width: 1280px )
    .cont
        padding: 1em
        .contentCont
            flex-direction: column
            .catalogCont
                font-size: 0.7em
            .content
                padding: 0
                .titleCont
                    padding: 0
                    width: 100%
                    align-items: center
                    .title
                        font-size: 1.2em
                    .secondaryTitle
                        font-size: 0.8em
                .discountItems
                    grid-template-columns: 1fr 1fr 1fr 1fr


