.cont
    display: flex
    width: 100%
    background-color: #fff
    .left
        display: flex
        flex-direction: column
        padding: 3em 5em
        .title
            display: flex
            font-family: gothampro_bold
            font-size: 1.2em
            color: #000000
            margin-bottom: 1em
        .answer
            display: flex
            margin-bottom: 2em
            font-family: gothampro
            color: #C4C4C4
        .form
            display: flex
            .formItem
                display: flex
                margin-right: 1em
    .right
        display: flex
        width: 100%
        align-items: flex-end
        .imgCont
            display: flex
            position: relative  
            .ellipse
                object-fit: contain
                width: 346px
            .feedbackGirl
                object-fit: contain
                position: absolute
                bottom: 0
                left: 0
                width: 285px
        .shapeCont
            display: flex
            align-items: center
            flex-direction: column
            justify-content: space-between
            height: 100%
            padding-bottom: 2em
            .smallEllipse
                object-fit: contain
                width: 102px
            .shape
                display: flex
                position: relative
                background-color: #00EA5D
                width: 81px
                height: 81px
                left: 30px
                border-radius: 60px
@media screen and ( max-width:  500px)
    .cont
        flex-direction: column
        .left
            padding: 1em
            margin-bottom: 4em
            .title
                font-size: 0.8em
            .answer
                font-size: 0.7em
            .form
                flex-direction: column
                align-items: center
                justify-content: center
                .formItem
                    margin-bottom: 1em
                    margin-right: 0
        .right
            .imgCont
                .ellipse
                    width: 250px
                .feedbackGirl
                    width: 150px
            .shapeCont
                .smallEllipse
                    width: 50px
@media screen and ( min-width:  501px) and (max-width: 1280px)
    .cont
        .left
            .title
                font-size: 0.8em
            .answer
                font-size: 0.7em
            .form
                flex-direction: column
                align-items: center
                justify-content: center
                .formItem
                    margin-bottom: 1em
                    margin-right: 0
        .right
            .imgCont
                .ellipse
                    width: 250px
                .feedbackGirl
                    width: 150px
            .shapeCont
                .smallEllipse
                    width: 50px