.cont
    display: flex
    width: 100%
    justify-content: space-between
    align-items: center
    padding: 2em
    .column
        display: flex
        width: 100%
        flex-direction: column
        height: 100%
        justify-content: flex-start
        // align-items: center
        padding-left: 6em
        &:nth-child(5)
            display: none
        .logo
            object-fit: contain
            width: 241px
            margin-bottom: 2em
        .text
            display: flex
            color: #42445A
            font-family: gothampro
            line-height: 20px
            margin-bottom: 1em
        .socialCont
            display: flex
            align-items: flex-start
            flex-direction: column
            width: 100%
            .social
                display: flex
                margin-top: 0.5em
                margin-bottom: 1em
                font-family: gothampro_bold
                font-size: 1.2em
                color: #00EA5D
            .iconsCont
                display: flex
                .icon
                    object-fit: contain
                    margin-right: 1em
        .title
            display: flex
            margin-top: 0.5em
            margin-bottom: 1em
            font-family: gothampro_bold
            font-size: 1.2em
            color: #00EA5D
        .group
            background-color: #EEF3F9
            border-radius: 6px
            display: flex
            padding: 0.5em
            align-items: center
            margin-bottom: 2em
            .logoPlatform
                object-fit: contain
                margin-right: 0.5em
                width: 35px
                height: 35px
            .textCont
                display: flex
                flex-direction: column
                .helperText
                    display: flex
                    font-family: gothampro
                    color: #00EA5D
                    width: max-content
                .platFormName
                    display: flex
                    font-family: gothampro_medium
                    color: #00EA5D
.hide
    display: flex
@media screen and ( max-width: 500px)
    .cont
        padding: 1em
        flex-direction: column
        align-items: flex-start
        font-size: 0.8em
        .column
            align-items: flex-start
            padding: 0
            .logo
                width: 100px
            &:nth-child(4)
                flex-direction: row
                justify-content: space-between
            &:nth-child(5)
                display: flex
    .hide
        display: none !important
@media screen and ( min-width: 501px) and (max-width: 1280px)  
    .cont
        padding: 1em
        font-size: 0.7em
        .column
            padding: 0
            .logo
                width: 150px