.cont
    display: flex
    flex-direction: column
    width: 100%
    border-radius: 30px
    align-items: center
    justify-content: center
    background-color: #F7F8FA
    padding: 50px
    .title
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        padding: 0 6em
        font-family: gothampro_bold
        color: #42445A
        font-size: 2em
        margin-bottom: 2em
    .content
        display: flex
        width: 100%
        .column
            display: flex
            flex-direction: column
            align-items: flex-start
            padding: 0 3em
            width: 100%
            .item
                width: 100%
                display: flex
                align-items: center
                justify-content: flex-start
                &:nth-child(1)
                    margin-bottom: 4.5em
                .itemImg
                    object-fit: contain
                    width: 120px
                    height: 90px
                .itemTitle
                    font-size: 1.1em
                    padding: 0 4em 0 1em
                    font-family: gothampro_medium
                    display: flex
                    color: #42445A
@media screen and ( max-width: 1280px)
    .cont
        padding: 1em
        .title
            padding: 0
            font-size: 0.8em
            width: 100%
        .content
            flex-direction: column
            .column
                padding: 0
                margin-bottom: 1em
                .item
                    &:nth-child(1)
                        margin: 0
                    .itemImg
                        width: 60px
                        height: 45px
                    .itemTitle
                        padding: 1em
                        font-size: 0.7em
    