.cont
    display: flex
    width: 100%
    flex-direction: column
    background-color: #E5E5E5    
    .headerCont
        display: flex
        width: 100%
        flex-direction: column
        background-color: #F6F6F6
    .mobileBlockApp
        width: 100%
        display: flex
    .feedback
        width: 100%
        display: flex
    .footer
        display: flex
        width: 100%
        background-color: #fff
        border-top: 1px solid #d1d1d1