$shadowColor: #E5E5E595
.mainCont
    display: flex
    width: 100%
    flex-direction: column
    .titleCont
        padding: 2em 2em 0 2em
    .sliderContent
        position: relative
        .arrowCont
            display: flex
            align-items: center
            justify-content: center
            position: absolute
            // left: 0
            top: 0
            background-color: $shadowColor
            box-shadow: 0px 0px 25px 55px $shadowColor
            -webkit-box-shadow: 0px 0px 25px 55px $shadowColor
            -moz-box-shadow: 0px 0px 25px 55px $shadowColor
            z-index: 1
            width: max-content
            padding: 2em
            height: 100%
            right: 0
            &:nth-child(2)
                left: 0
    .cont
        display: flex
        align-items: center
        justify-content: center
        width: max-content !important
        padding: 0 2.4em
        position: relative
        padding-bottom: 3em
        z-index: 3
        .cardCont
            display: flex
            align-items: center
            padding-top: 6.5em
            flex-direction: column
            position: relative
            .content
                display: flex
                flex-direction: column
                background-color: #fff
                border-radius: 20px
                padding: 6em 3.2em 2.2em 3.2em
                align-items: center
                position: relative
                .imgCont
                    display: flex
                    width: 100%
                    position: absolute
                    align-items: center
                    justify-content: center
                    top: -80px
                    left: 0
                    .image
                        object-fit: contain
                        width: 150px
                        height: 150px
                        // background-color: red
                .itemName
                    display: flex
                    font-family: gothampro_medium
                    margin-bottom: 0.5em
                .priceCont
                    display: flex
                    .price
                        display: flex
                        font-family: gothampro_black
                    .currency
                        margin-left: 0.5em
                        display: flex
                        font-family: gothamtpro_medium
                        color: #5c5c5c
                .addedToCart
                    display: flex
                    color: #fff
                    position: absolute
                    z-index: 2
                    align-items: center
                    justify-content: center
                    border: 2px dashed #fff
                    transition: ease
                    transition-duration: 0.3s
                    transform: rotateZ(-25deg)
                    top: 40%
                    left: 10%
                    background-color: #00EA5D
                    font-family: gothampro_bold
                .packCont
                    z-index: 2
                    position: absolute
                    bottom: -20%
@media screen and ( max-width: 500px )
    .mainCont
        // font-size: 0.4em
        margin: 0
        .titleCont
            font-size: 0.6em
        .sliderContent
            .arrowCont
                display: none
        .cont
            padding: 0.5em
            .cardCont
                padding: 0.2em
                padding-top: 3em
                .content
                    padding: 3em 1em 2em 1em
                    font-size: 0.5em
                    border-radius: 10px
                    .imgCont
                        top: -50px
                        .image
                            width: 70px
                            height: 70px
@media screen and (min-width: 501px) and ( max-width: 1280px )
    .mainCont
        // font-size: 0.4em
        margin: 0
        .sliderContent
            .arrowCont
                display: none
        .cont
            padding: 2em
            .cardCont
                padding: 1em
                padding-top: 3em
                .content
                    padding: 3em 1em 2em 1em
                    font-size: 0.5em
                    border-radius: 10px
                    .imgCont
                        top: -50px
                        .image
                            width: 70px
                            height: 70px

